h1
{
	color: white;
}
body
{
	background-color: #202225
}
#carte

{

 width: 1300px;

margin:0 auto;

background-color: #36393F;

text-align: center;

align-content: center;

}

#carte2

{

 width: 1300px;

margin:0 auto;

background-color: #36393F;

text-align: center;

align-content: center;

}

#carte3

{

 width: 1300px;

margin:0 auto;

background-color: #36393F;

text-align: ;

align-content: center;

}
h4
{
	color: green;
}

h1
{
	font-family: verdana;
}

body
{
	font-family: verdana;
}
a
{
	color: white;
}